<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="links_div">
            <a class="link" href="#home">Home</a>
            <a class="link" href="#news"></a>
            <a class="link" href="#contact">Contact</a>
            <a class="link" href="#about">About</a>
        </div>
        <form action="/create" method="post" class="form">

            <input type="text" placeholder="What's in your mind?" name="createpost">
            <button>Post</button>

        </form>
    </div>
</body>

</html>